<! DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Vue示例</title>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="(book,index) in books">{{index}} - {{book.name}} </li>
        </ul>
        <button @click="addOneItem">添加一个条目</button>
        <ul>
            <li v-for="(value,key,index) in user">{{index}} - {{key}}:{{value}} </li>
        </ul>
        <ul>
            <template v-for="(book,index) in filteredBooks">
                <li>{{index}} - {{book.name}}</li>
            </template>
        </ul>
        <ul>
            <template v-for="(book,index) in sortedBooks">
                <li>{{index}} - {{book.name}}</li>
            </template>
        </ul>

    </div>
    <script src="https://unpkg.c  om/vue/dist/vue.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app', //可以是HTMLElement，也可以是CSS选择器
            //声明应用内需要双向绑定的数据。
            //建议所有会用到的数据都预先在data内声明，
            //这样不至于将数据散落在业务逻辑中，难以维护。
            data: {
                books: [{
                        name: 'Vue.js实战'
                    },
                    {
                        name: 'JavaScript语言精髓'
                    },
                    {
                        name: 'JavaScript高级程序设计'
                    },
                ],
                user: {
                    name: 'Tiger',
                    gender: 'male',
                    age: 32
                }
            },
            methods: {
                addOneItem: function () {
                    this.books.push({
                        name: 'Css揭秘'
                    })
                }
            },
            computed:{
                filteredBooks:function(){
                    return this.books.filter(function(book){
                        return book.name.match(/JavaScript/)
                    })
                },
                sortedBooks:function(){
                    return this.books.sort(function(a,b){
                        return a.name.length<b.name.length
                    })
                }
            }
        })
    </script>
</body>

</html>